<div class="backdrop" data-modal>
    <div class="modal-window">
        <button class="modal-close-button" type="button" data-modal-close>
            <svg class="modal-close-btn-icon" width="28" height="28">
                <use href="../img/icons/icons.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal-button-text">Your Order</p>
        <div class="modal-card-container">
            <ul class="modal-card-list list">
                <li class="modal-card-item modal-card-item-brown">

                    <div class="modal-text-container">
                        <p class="modal-text">Strawberry Basket</p>
                        <p>Plant</p>
                    </div>
                    <img class="modal-picture" src="../img/modal/strawberry basket..png" width="133" alt="">
                    <div class="modal-field">
                        <input class="visually-hidden input-check" value="true" type="checkbox" name="user-privacy"
                            id="user-privacy">
                        <label for="user-privacy" class="check-text">
                            <span class="check-empty">
                                <svg class="input-check-icon" width="10" height="8">
                                    <use href="../img/icons/icons.svg#icon-marked"></use>
                                </svg>
                            </span>

                        </label>
                    </div>
                </li>
                <li class=" modal-card-item modal-card-item-yellow">
                    <div class="modal-text-container">
                        <p class="modal-text">Apple Basket</p>
                        <p>Plant</p>
                    </div>
                    <img class="modal-picture" src="../img/modal/fruits basket.png" width="172" alt="">
                    <div class="modal-field">
                        <input class="visually-hidden input-check" value="true" type="checkbox" name="user-privacy"
                            id="user-privacy">
                        <label for="user-privacy" class="check-text">
                            <span class="check-empty">
                                <svg class="input-check-icon" width="10" height="8">
                                    <use href="../img/icons/icons.svg#icon-marked"></use>
                                </svg>
                            </span>

                        </label>
                    </div>
                </li>
                <li class=" modal-card-item modal-card-item-green">
                    <div class="modal-text-container">
                        <p class="modal-text">Fruits Basket</p>
                        <p>Plant</p>
                    </div>
                    <img class="modal-picture" src="../img/modal/plate of fruit.png" width="172" alt="">

                    <div class="modal-field">
                        <input class="visually-hidden input-check" value="true" type="checkbox" name="user-privacy"
                            id="user-privacy">
                        <label for="user-privacy" class="check-text">
                            <span class="check-empty">
                                <svg class="input-check-icon" width="10" height="8">
                                    <use href="../img/icons/icons.svg#icon-marked"></use>
                                </svg>
                            </span>

                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="join-container">
            <div class="left-side">
                <form class="modal-contact-form">
                    <label class="modal-contact-label">
                        <div class="modal-name-container">
                            <input class="modal-name-input" type="text" name="user_name" required minlength="2"
                                placeholder="Enter full name...">

                        </div>
                    </label>
                    <label class="modal-contact-label">
                        <div class="modal-name-container">
                            <input class="modal-name-input" type="tel" name="user_phone" required minlength="2"
                                placeholder="Enter email..." pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}">

                        </div>
                    </label>
                    <label class="modal-contact-label">
                        <div class="modal-name-container">
                            <input class="modal-name-input" type="email"
                                pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
                                name="user_email" required minlength="2" placeholder="Enter card..">

                        </div>
                    </label>
                    <div class="modal-name-container textaria-wrap">
                        <label class="modal-contact-label">
                            <textarea name="" class="contact-form-massage" placeholder="Enter comments..."></textarea>
                        </label>
                    </div>
                    <button class="modal-btn" type="submit">
                        <span class="modal-btn-text">Submit</span>

                    </button>
            </div>

            <div class="right-side">
                <img src="../img/modal/woman.png" alt="woman with fruits" width="420px" height="458px">
            </div>
        </div>


    </div>